@import "tailwindcss";

:root {
    --color-primary-main: #2563EB; 
    --color-primary-dark: #1D4ED8;
    --color-primary-light: #60A5FA;

    --color-accent-subtle: #9333EA;

    --color-background-app: #EBEDF4; 
    --color-background-card: #FFFFFF;
    --color-border-subtle: #E5E7EB;

    --color-text-dark: #1F2937;
    --color-text-medium: #4B5563;
    --color-text-light: #9CA3AF;
}

@layer base {
    h1 {
        @apply text-5xl font-extrabold rounded-2xl p-3;
        background-color: var(--color-background-app);
        color: var(--color-text-dark);
    }
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.background {
    @apply flex max-w-screen h-screen justify-center items-center;
    background-color: var(--color-background-app);
}

.container {
    @apply flex w-[80%] h-[90%] p-5 rounded-3xl drop-shadow-xl;
    background-color: var(--color-background-card);
}

.items-col {
    @apply flex flex-col gap-8;
}

.main-btn {
    @apply rounded-3xl p-5 text-2xl text-white font-light transition duration-300 ease-in-out;
    background-color: var(--color-primary-main);
}

.main-btn:hover {
    color: var(--color-text-dark);
    background-color: var(--color-primary-light);
}

.main-input {
    @apply p-5 rounded-3xl;
    background-color: var(--color-background-app);
}

.question-card {
    @apply bg-white w-[80%] p-6 rounded-lg shadow-lg mb-6 border border-gray-100;
}

.exercises-header {
    @apply flex w-screen fixed top-0 left-0 h-[8%] drop-shadow-2xl justify-between items-center pr-20 z-10;
    background-color: var(--color-primary-light);
}

.exercises-bottom {
    @apply flex w-screen fixed bottom-0 left-0 h-[10%] drop-shadow-2xl justify-center items-center z-10;
}

.question-title {
    @apply text-4xl text-center font-bold text-white;
}

.question-option {
    @apply flex items-center justify-center gap-5 p-3 rounded-2xl text-xl;
    border: var(--color-border-subtle) 2px solid;
    color: var(--color-text-dark);
}

.question-option:hover {
    @apply cursor-pointer border-black;
    background-color: var(--color-border-subtle);
}

.question {
    @apply text-xl font-bold leading-normal;
    color: var(--color-text-dark)
}

.question-counter {
    @apply text-2xl w-fit h-fit p-2 rounded-2xl border-3;
    background-color: var(--color-background-app);
    color: var(--color-text-medium);
    border-color: var(--color-border-subtle);
}

.explanation-container {
    @apply mt-4 p-4 border-l-4 rounded-md shadow-inner;
    background-color: var(--color-background-app);
    color: var(--color-text-medium);
    border-color: var(--color-accent-subtle)
}

.explanation-title {
    @apply font-semibold text-sm mb-2;
    color: var(--color-text-dark);
}